<mat-toolbar>
  
  <span>My Application</span>
  <button type="submit" (click)="goToLogin()">Ir a login</button>
  <button type="submit" (click)="goToRegister()">Ir al registro</button>
  <button type="submit" (click)="userService.LogOut()">Desloguearse</button>
  <button type="submit" (click)="goToProducts()">Conoce nuestros productos</button>
</mat-toolbar>
    <h1>Bienvenid@ {{ userService.getUser() }}</h1>
    <br>
    <br>
    <img src="../../assets/orchid-622485_960_720.jpg">
    <br>
    <br>

   