.button-product-list {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #bcd8c1;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 8px pink, -3px -3px 8px #ffffff;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: auto;
}

.imagen {
  display: flex;
  width: 100%;
  margin-bottom: 40px; ;
}

footer {
  background-color: #ffb6c1;
  justify-content: space-between;
  padding: 0px;
  width: 100%;
}

.footer-data {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: #bcd8c1; color:white;
  text-emphasis:inherit;
}

p{
  color:white;
  text-emphasis:inherit;
}

.body{
  background-color: #ffffff;
}
